<h1>My ToDo's</h1>
<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
<table class="table">
    
    <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>Description</th>
            <th>Target Date</th>
            <th>Is Completed ?</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>

        </thead>
        <tbody>
            <!-- <tr *>
                <td>{{todo.id}}</td>
                <td>{{todo.description}}</td>
            </tr> -->
            <!-- java code for below for(Todo todo:todos){

            } -->

            <tr *ngFor="let todo of todos">
                    <!-- <td>{{todo.id}}</td> -->
                    <td>{{todo.description}}</td>
                    <td>{{todo.targetDate | date|uppercase}}</td>
                    <td>{{todo.done}}</td>
                    <td><button (click)="deleteToDo(todo.id)" class="btn btn-warning">Delete</button></td>
                    <td><button (click)="updateToDo(todo.id)" class="btn btn-success">Update</button></td>
                </tr>
        </tbody>

</table>
</div>